@{
    ViewData["Title"] = "Center for Research Ethics";
    Layout = "~/Views/Shared/_Layout ENav.cshtml";
}
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>CREFRONTEND</title>
</head>

<body>
    <div id="welcome">
        <div class="border rounded border-0 p-4 p-md-5">
            <h3 id="CRETITLE" class="mb-3">CENTER FOR RESEARCH ETHICS</h3>
            <p id="welcome-content" class="mb-4">The Center for Research Ethics (CRE) facilitates the requests for ethics clearance. The centers ensure to protect potential participants in the research, but it must also consider potential risks and benefits for the community in which the research will be carried out. Its goal is to promote high ethical standards in research.</p>
            <div class="my-3"><a id="btn-apply" class="btn me-2" role="button" href="application.html">Get Started</a></div>
        </div>
    </div>
</body>

</html>